@import '../variables';

.latest-articles {
  display: flex;
  flex-direction: column;

  .articles {

    &__list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
      gap: 1rem;

      @media screen and (max-width: 450px) {
        grid-template-columns: initial;
      }

    }

    &__article {
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      text-decoration: none;

      img {
        border-radius: 10px;
      }

    }
  }
}
