---
const tools = [
    {
        name: "Angular",
        icon: "angular",
        bgColor: "bg-gray-800"
    },
    {
        name: "NX",
        icon: "nx",
        bgColor: "bg-gray-800"
    },
    {
        name: "NodeJS",
        icon: "nodejs",
        bgColor: "bg-gray-800"
    },
    {
        name: "Docker",
        icon: "docker",
        bgColor: "bg-gray-800"
    },
    {
        name: "N8N",
        icon: "n8n",
        bgColor: "bg-gray-800"
    },
    {
        name: "ClickUp",
        icon: "clickup",
        bgColor: "bg-gray-800"
    }
];

// Function to render the appropriate icon based on the icon type
const renderIcon = (iconType) => {
    switch(iconType) {
        case "angular":
            return `<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
\t viewBox="0 0 250 250" style="enable-background:new 0 0 250 250;" xml:space="preserve">
<style type="text/css">
\t.st0{fill:#DD0031;}
\t.st1{fill:#C3002F;}
\t.st2{fill:#FFFFFF;}
</style>
<g>
\t<polygon class="st0" points="125,30 125,30 125,30 31.9,63.2 46.1,186.3 125,230 125,230 125,230 203.9,186.3 218.1,63.2 \t"/>
\t<polygon class="st1" points="125,30 125,52.2 125,52.1 125,153.4 125,153.4 125,230 125,230 203.9,186.3 218.1,63.2 125,30 \t"/>
\t<path class="st2" d="M125,52.1L66.8,182.6h0h21.7h0l11.7-29.2h49.4l11.7,29.2h0h21.7h0L125,52.1L125,52.1L125,52.1L125,52.1
\t\tL125,52.1z M142,135.4H108l17-40.9L142,135.4z"/>
</g>
</svg>`;
        case "nx":
            return `<svg width="1000" height="1000" viewBox="0 0 1000 1000" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M543.321 553.145L465.329 431.093L465.212 533.642L330.799 307.09H236.24V689.546H329.742L330.047 463.277L463.073 679.407L543.321 553.145Z" fill="white"/>
<path d="M465.353 405.404H558.736L558.948 404.321V307.09H465.447L465.329 404.321L465.353 405.404Z" fill="white"/>
<path d="M703.065 511.433C680.694 511.009 660.482 524.741 652.613 545.71C665.713 526.097 690.657 518.216 712.629 526.749C722.78 530.889 736.128 537.57 746.702 533.995C736.645 519.865 720.395 511.463 703.065 511.433V511.433Z" fill="white"/>
<path d="M809.021 557.45C809.021 545.993 802.794 543.334 789.87 538.629C780.282 535.289 769.402 531.525 761.483 521.173C759.932 519.127 758.499 516.821 756.971 514.374C753.55 508.038 748.91 502.441 743.319 497.906C735.776 492.354 725.883 489.649 713.052 489.649C687.308 489.667 664.114 505.224 654.306 529.054C666.706 511.828 687.314 502.495 708.423 504.544C729.533 506.593 747.966 519.716 756.83 539.006C761.259 546.322 769.993 549.815 778.238 547.569C790.857 544.864 789.987 556.815 809.045 560.861L809.021 557.45Z" fill="white"/>
<path d="M850.637 555.003V554.744C850.355 478.897 788.859 414.014 713.052 414.014C666.753 413.982 623.55 437.292 598.12 476.027L597.627 475.18L558.713 414.014L465.353 414.014L554.06 553.097L467.491 689.546H558.172L597.627 628.873L637.786 689.546H728.491L646.246 559.967C644.88 557.442 644.139 554.627 644.084 551.756C644.077 533.454 651.337 515.9 664.263 502.959C677.19 490.017 694.724 482.749 713.005 482.756C751.12 482.756 757.488 505.576 765.713 516.303C781.95 537.476 814.379 528.207 814.379 555.826V555.826C814.475 562.298 818.013 568.227 823.66 571.379C829.306 574.531 836.204 574.428 841.754 571.108C847.304 567.789 850.663 561.757 850.567 555.285V555.285V555.003H850.637Z" fill="white"/>
<path d="M850.731 574.529C851.653 580.98 850.741 587.559 848.1 593.514C842.93 605.489 834.306 601.49 834.306 601.49C834.306 601.49 826.88 597.867 831.392 590.927C836.397 583.187 846.29 584.081 850.731 574.529Z" fill="white"/>
</svg>
`;
        case "nodejs":
            return `<svg width="71" height="80" viewBox="0 0 71 80" fill="none" xmlns="http://www.w3.org/2000/svg"><g clipPath="url(#clip0_337_7892)"><path d="M35.1193 79.5C34.0343 79.5 33.0217 79.2106 32.0813 78.7041L22.4611 72.9884C21.0144 72.1925 21.7378 71.9031 22.1718 71.7584C24.1247 71.1072 24.4864 70.9625 26.5117 69.8049C26.7287 69.6602 27.0181 69.7326 27.2351 69.8773L34.613 74.2907C34.9023 74.4354 35.264 74.4354 35.481 74.2907L64.3417 57.5775C64.6311 57.4328 64.7757 57.1434 64.7757 56.7817V23.4276C64.7757 23.0659 64.6311 22.7765 64.3417 22.6318L35.481 5.99096C35.1917 5.84626 34.83 5.84626 34.613 5.99096L5.75223 22.6318C5.4629 22.7765 5.31823 23.1382 5.31823 23.4276V56.7817C5.31823 57.0711 5.4629 57.4328 5.75223 57.5775L13.6365 62.1357C17.9041 64.3062 20.5804 61.7739 20.5804 59.2416V26.3217C20.5804 25.8876 20.9421 25.4535 21.4484 25.4535H25.1374C25.5714 25.4535 26.0054 25.8152 26.0054 26.3217V59.2416C26.0054 64.9574 22.8951 68.2855 17.4701 68.2855C15.8065 68.2855 14.5045 68.2855 10.8155 66.4767L3.22059 62.1357C1.33994 61.0504 0.182617 59.0246 0.182617 56.854V23.5C0.182617 21.3295 1.33994 19.3036 3.22059 18.2183L32.0813 1.50517C33.8897 0.492253 36.349 0.492253 38.1573 1.50517L67.0181 18.2183C68.8987 19.3036 70.056 21.3295 70.056 23.5V56.854C70.056 59.0246 68.8987 61.0504 67.0181 62.1357L38.1573 78.8488C37.2893 79.2106 36.2043 79.5 35.1193 79.5Z" fill="white"/><path d="M44.0884 56.5646C31.4302 56.5646 28.8262 50.7765 28.8262 45.8566C28.8262 45.4225 29.1878 44.9883 29.6942 44.9883H33.4555C33.8895 44.9883 34.2511 45.2778 34.2511 45.7119C34.8298 49.5465 36.4934 51.4276 44.1607 51.4276C50.2367 51.4276 52.8406 50.0529 52.8406 46.7971C52.8406 44.916 52.1173 43.5413 42.6417 42.6008C34.7575 41.8049 29.8388 40.0685 29.8388 33.7739C29.8388 27.9134 34.7575 24.4406 43.0034 24.4406C52.262 24.4406 56.8189 27.624 57.3976 34.5697C57.3976 34.7868 57.3253 35.0039 57.1806 35.2209C57.0359 35.3656 56.8189 35.5103 56.6019 35.5103H52.7683C52.4066 35.5103 52.045 35.2209 51.9726 34.8592C51.1047 30.8798 48.8623 29.5775 42.9311 29.5775C36.2764 29.5775 35.4808 31.8927 35.4808 33.6292C35.4808 35.7274 36.4211 36.3785 45.3904 37.5362C54.2873 38.6938 58.4826 40.3579 58.4826 46.5801C58.4826 52.947 53.2023 56.5646 44.0884 56.5646Z" fill="white"/></g><defs><clipPath id="clip0_337_7892"><rect width="71" height="79" fill="white" transform="translate(0 0.5)"/></clipPath></defs></svg>
`;
        case "docker":
            return `
<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 756.26 596.9">
  <defs>
    <style>
      .cls-1 {
        fill: #fff;
        stroke-width: 0px;
      }
    </style>
  </defs>
  <path class="cls-1" d="M743.96,245.25c-18.54-12.48-67.26-17.81-102.68-8.27-1.91-35.28-20.1-65.01-53.38-90.95l-12.32-8.27-8.21,12.4c-16.14,24.5-22.94,57.14-20.53,86.81,1.9,18.28,8.26,38.83,20.53,53.74-46.1,26.74-88.59,20.67-276.77,20.67H.06c-.85,42.49,5.98,124.23,57.96,190.77,5.74,7.35,12.04,14.46,18.87,21.31,42.26,42.32,106.11,73.35,201.59,73.44,145.66.13,270.46-78.6,346.37-268.97,24.98.41,90.92,4.48,123.19-57.88.79-1.05,8.21-16.54,8.21-16.54l-12.3-8.27ZM189.67,206.39h-81.7v81.7h81.7v-81.7ZM295.22,206.39h-81.7v81.7h81.7v-81.7ZM400.77,206.39h-81.7v81.7h81.7v-81.7ZM506.32,206.39h-81.7v81.7h81.7v-81.7ZM84.12,206.39H2.42v81.7h81.7v-81.7ZM189.67,103.2h-81.7v81.7h81.7v-81.7ZM295.22,103.2h-81.7v81.7h81.7v-81.7ZM400.77,103.2h-81.7v81.7h81.7v-81.7ZM400.77,0h-81.7v81.7h81.7V0Z"/>
</svg>`;
        case "n8n":
            return `<svg data-v-3baeee6e="" fill="none" height="40" viewBox="0 0 143 40" width="143" xmlns="http://www.w3.org/2000/svg"><path clip-rule="evenodd" d="M78.9736 8C78.9736 12.4183 75.3919 16 70.9736 16C67.246 16 64.1138 13.4505 63.2257 10H52.0564C50.101 10 48.4323 11.4137 48.1108 13.3424L47.782 15.3152C47.4698 17.1883 46.5223 18.8185 45.1824 20C46.5223 21.1815 47.4698 22.8117 47.782 24.6848L48.1108 26.6576C48.4323 28.5863 50.101 30 52.0564 30H55.2257C56.1138 26.5495 59.246 24 62.9736 24C67.3919 24 70.9736 27.5817 70.9736 32C70.9736 36.4183 67.3919 40 62.9736 40C59.246 40 56.1138 37.4505 55.2257 34H52.0564C48.1457 34 44.8082 31.1727 44.1653 27.3152L43.8364 25.3424C43.515 23.4137 41.8462 22 39.8909 22H36.628C35.6294 25.2801 32.5802 27.6667 28.9736 27.6667C25.367 27.6667 22.3179 25.2801 21.3193 22H16.628C15.6294 25.2801 12.5802 27.6667 8.97363 27.6667C4.55536 27.6667 0.973633 24.0849 0.973633 19.6667C0.973633 15.2484 4.55536 11.6667 8.97363 11.6667C12.8204 11.6667 16.033 14.3817 16.7998 18H21.1475C21.9143 14.3817 25.1269 11.6667 28.9736 11.6667C32.8204 11.6667 36.033 14.3817 36.7998 18H39.8909C41.8462 18 43.515 16.5863 43.8364 14.6576L44.1653 12.6848C44.8082 8.8273 48.1457 6 52.0564 6L63.2257 6C64.1138 2.54955 67.246 0 70.9736 0C75.3919 0 78.9736 3.58172 78.9736 8ZM74.9736 8C74.9736 10.2091 73.1828 12 70.9736 12C68.7645 12 66.9736 10.2091 66.9736 8C66.9736 5.79086 68.7645 4 70.9736 4C73.1828 4 74.9736 5.79086 74.9736 8ZM8.97363 23.6667C11.1828 23.6667 12.9736 21.8758 12.9736 19.6667C12.9736 17.4575 11.1828 15.6667 8.97363 15.6667C6.76449 15.6667 4.97363 17.4575 4.97363 19.6667C4.97363 21.8758 6.76449 23.6667 8.97363 23.6667ZM28.9736 23.6667C31.1828 23.6667 32.9736 21.8758 32.9736 19.6667C32.9736 17.4575 31.1828 15.6667 28.9736 15.6667C26.7645 15.6667 24.9736 17.4575 24.9736 19.6667C24.9736 21.8758 26.7645 23.6667 28.9736 23.6667ZM62.9736 36C65.1828 36 66.9736 34.2091 66.9736 32C66.9736 29.7909 65.1828 28 62.9736 28C60.7645 28 58.9736 29.7909 58.9736 32C58.9736 34.2091 60.7645 36 62.9736 36Z" data-v-3baeee6e="" fill="#EA4B71" fill-rule="evenodd"></path><path d="M86.9785 30.001H91.1554V21.1578C91.1554 18.2536 92.9175 16.981 94.908 16.981C96.8659 16.981 98.3996 18.2862 98.3996 20.962V30.001H102.576V20.1136C102.576 15.8389 100.096 13.3589 96.2133 13.3589C93.7659 13.3589 92.3954 14.3378 91.4164 15.6104H91.1554L90.7964 13.6852H86.9785V30.001Z" data-v-3baeee6e="" fill="#101330"></path><path d="M118.563 19.0041V18.8083C119.999 18.0904 121.435 16.8504 121.435 14.4031C121.435 10.8789 118.53 8.75781 114.517 8.75781C110.405 8.75781 107.468 11.0094 107.468 14.4683C107.468 16.8178 108.839 18.0904 110.34 18.8083V19.0041C108.676 19.5915 106.685 21.3536 106.685 24.2904C106.685 27.8473 109.622 30.3273 114.484 30.3273C119.346 30.3273 122.185 27.8473 122.185 24.2904C122.185 21.3536 120.227 19.6241 118.563 19.0041ZM114.484 11.7599C116.116 11.7599 117.323 12.8041 117.323 14.5662C117.323 16.3283 116.083 17.3726 114.484 17.3726C112.885 17.3726 111.547 16.3283 111.547 14.5662C111.547 12.7715 112.82 11.7599 114.484 11.7599ZM114.484 27.1947C112.591 27.1947 111.058 25.9873 111.058 23.9315C111.058 22.0715 112.33 20.6683 114.451 20.6683C116.54 20.6683 117.813 22.0389 117.813 23.9968C117.813 25.9873 116.344 27.1947 114.484 27.1947Z" data-v-3baeee6e="" fill="#101330"></path><path d="M126.428 30.001H130.605V21.1578C130.605 18.2536 132.367 16.981 134.358 16.981C136.316 16.981 137.849 18.2862 137.849 20.962V30.001H142.026V20.1136C142.026 15.8389 139.546 13.3589 135.663 13.3589C133.216 13.3589 131.845 14.3378 130.866 15.6104H130.605L130.246 13.6852H126.428V30.001Z" data-v-3baeee6e="" fill="#101330"></path></svg>`;
        case "clickup":
            return `<svg width="31" height="38" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M.485 29.072l5.603-4.335c2.977 3.924 6.139 5.733 9.66 5.733 3.5 0 6.574-1.788 9.416-5.68l5.682 4.23c-4.1 5.614-9.198 8.58-15.099 8.58-5.882 0-11.029-2.947-15.262-8.528zM15.73 10.23l-9.973 8.68-4.61-5.4L15.75.8l14.488 12.72-4.63 5.381-9.879-8.67z" fill="#fff"></path></svg>`;
        default:
            return `<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" fill="white" class="w-7 h-7">
                <path d="M501.1 395.7L384 278.6c-23.1-23.1-57.6-27.6-85.4-13.9L192 158.1V96L64 0 0 64l96 128h62.1l106.6 106.6c-13.6 27.8-9.2 62.3 13.9 85.4l117.1 117.1c14.6 14.6 38.2 14.6 52.7 0l52.7-52.7c14.5-14.6 14.5-38.2 0-52.7zM331.7 225c28.3 0 54.9 11 74.9 31l19.4 19.4c15.8-6.9 30.8-16.5 43.8-29.5 37.1-37.1 49.7-89.3 37.9-136.7-2.2-9-13.5-12.1-20.1-5.5l-74.4 74.4-67.9-11.3L334 98.9l74.4-74.4c6.6-6.6 3.4-17.9-5.7-20.2-47.4-11.7-99.6.9-136.6 37.9-28.5 28.5-41.9 66.1-41.2 103.6l82.1 82.1c8.1-1.9 16.5-2.9 24.7-2.9zm-103.9 82l-56.7-56.7L18.7 402.8c-25 25-25 65.5 0 90.5s65.5 25 90.5 0l123.6-123.6c-7.6-19.9-9.9-41.6-5-62.7z"/>
              </svg>`;
    }
};
---

<div class="p-6 rounded-xl bg-[#0B0F1A] h-full">
    <h2 class="text-xl font-bold mb-6">My Toolbox</h2>

    <div class="grid grid-cols-3 gap-4">
        {tools.map(tool => (
                <div class="flex flex-col items-center">
                    <div class={`w-16 h-16 rounded-xl ${tool.bgColor} flex items-center justify-center p-3 mb-2`}>
                        <Fragment set:html={renderIcon(tool.icon)} />
                    </div>
                    <span class="text-sm">{tool.name}</span>
                </div>
        ))}
    </div>
</div>
