@import '../../variables';

.socials {
  list-style-type: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;

  @media screen and (min-width: 800px) {
    justify-content: flex-start;
  }

  li {
    color: #fff;

    span {
      margin: 0 10px;
    }
  }

  a {
    margin: 0 10px;
    color: #fff;
    font-weight: 400;
    font-size: 18px;
    line-height: 28.8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.2s ease-out;

    &:hover {
      transform: translateY(-3px);

      svg {
        fill: $brand-color;
      }
    }
  }
}
