@import '_variables';

@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Reset some basic elements
 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure,
div,
main,
section,
header,
footer,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}


/**
 * Basic styling
 */
body {
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: $base-font-weight;
  font-family: $base-font-family;
  color: $text-color;
  position: relative;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  flex-direction: column;
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p,
// blockquote,
// pre,
// ul,
// ol,
// dl,
// figure,
// %vertical-rhythm {
//   margin-bottom: calc($spacing-unit / 2);
// }


/**
 * `main` element
 */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */
}


/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}


/**
 * Lists
 */
ul,
ol {
  margin-left: $spacing-unit;
}

li {

  > ul,
  > ol {
    margin-bottom: 0;
  }
}


/**
 * Headings
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $base-font-weight;
}

h2 {
  font-weight: 500;
}

/**
 * Code formatting
 */
pre,
code {
  @include relative-font-size(0.9375);
  border: 1px solid $grey-color-light;
  border-radius: 3px;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}


/**
 * Wrapper
 */
.wrapper {
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;
  @extend %clearfix;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width: calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: calc($spacing-unit / 2);
    padding-left: calc($spacing-unit / 2);
  }
}


/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}


/**
 * Icons
 */

.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #{$grey-color-light};
  padding-right: 5px;
  vertical-align: text-top;
  box-sizing: content-box;
}

.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.line {
  width: 80px;
  border: 2px solid $brand-color;
  margin-bottom: 2rem;
}

// Begin of site Header

.header {
  &__socials {
    display: none;

    svg {
      fill: $dark-brand-color
    }

    @media screen and (min-width: 768px) {
      display: block;
    }
  }
}

// End of site header


.gradient-hover {
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 0 2px 0 #f04c26, -0.1875rem -0.1875rem 0 0.1875rem #ffcd00, 0 0 0 0.375rem #f04c26;
  }
}

.waving-hand {
  animation: waving-hand 0.8s ease-in-out infinite;
  animation-play-state: paused;

  &:hover {
    animation-play-state: running;
  }
}

@keyframes waving-hand {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.skill-logo {
  max-height: 100px;
  filter: opacity(0.7);
  transition: 0.3s ease-out;

  &:hover {
    filter: opacity(1);
  }

}

@keyframes open-menu {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-open-menu {
  -webkit-animation: open-menu 0.2s ease-in-out forwards;
  animation: open-menu 0.2s ease-in-out forwards;
}

